$font-family: arial, sans-serif;

@use "govuk-frontend/dist/govuk" as * with (
  $govuk-font-family: $font-family,
  $govuk-global-styles: true
);

// .govuk-width-container {
//   max-width: 100%;
//   @include govuk-responsive-margin(6, "left");
//   @include govuk-responsive-margin(6, "right");
// }

.govuk-header__container--full-width {
  @include govuk-responsive-padding(6, "left");
  @include govuk-responsive-padding(6, "right");
}

:root {
  --govuk-brand-colour: black;
}

.loader {
  border: 12px solid #dee0e2;
  border-radius: 50%;
  border-top-color: govuk-colour("blue");
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader.loader__fast {
  animation-duration: 1s;
}
