{% extends "page.njk" %} 
{% block body %}
<h1 class="gem-c-heading__text govuk-heading-xl">
    FiMS: Sign in or set up
</h1>
<p>Sign in to your account to analyse your spending habits and manage your finances.</p>
<h2>Sign in to or set up your account</h2>
<p>You'll need a Lancastrian Pocket ID account in order to use this service</p>
<a class="govuk-button govuk-button--start" role="button" data-module="govuk-button" draggable="false" href="/signin" data-govuk-button-init="" data-govuk-button-module-started="true"><span> Start now </span><svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a>
{% endblock %}