{% extends "page.njk" %} 
{% block body %}
<a href="/" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">New expense</h1>
<form action="/receipt/new">
    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
            Give the expense a name
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
            Give a brief description of the expense
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" for="expense-amount">
            What is the amount in pounds
        </label>
        <input class="govuk-input" id="expense-amount" name="expenseAmount" type="text">
    </div>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="expense-start-hint">
            <legend class="govuk-fieldset__legend">
                For when should this expense start?
            </legend>
            <div id="expense-start-hint" class="govuk-hint">
                For example, 20 6 2026
            </div>
            <div class="govuk-date-input" id="expense-start-hint">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expense_day">
                            Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expense_day" name="expense_day" type="text" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expense_month">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expense_month" name="expense_month" type="text" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expense_year">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expense_year" name="expense_year" type="text" inputmode="numeric">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="govuk-button-group">
    <button name="submit" type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
    </button>
    <button name="save_as_draft" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save as draft
    </button>
    </div>
</form>
{% endblock %}