{% extends "page.njk" %} 
{% block body %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p class="govuk-body">
          The service will be available again shortly. Maintenance typically only lasts for a short period.
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}